<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
  
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/talks">Talks</a></li>
            </ul>
          </div>
  
        </div>
      </nav>

      <div class="container">
        
        <h1 class="title">Attendees</h1>
        <button class="btn btn-warning" id="add-new-attendee">Add New Attendee</button>
         
        <form id="attendees-form" class="form-inline" style="display: none;">
            <div class="form-group">
              <input class="form-control" placeholder="Attendee Name" id="name" type="text">
              <input type="email" class="form-control" placeholder="email" id="email">
            </div>
            <input class="btn btn-lg btn-success" id="submit" type="submit">
        </form>
        <div>
            <ul>
                <% for(let i=0; i < attendees.length; i++) {%>
                  <li class="mt-4"><%= attendees[i].name %></li>
                <%}%>
            </ul>
        </div>
        
      </div>

    
      

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/js/attendeesScript.js"></script>
</body>
</html>